h1 {
    position: relative;
    margin-bottom: 0.2Arem;
    font-weight: bold;/*太字*/
    font-size: 22px;/*フォントサイズ*/
    text-align: center;
  }
  
  h1::before {
    position: absolute;
    top: -50px;/*文字上からの位置*/
    left: 50%;/*文字左からの位置*/
    transform: translateX(-50%);
    color: #E4F1F6;/*フォントカラー*/
    font-size: 90px;/*背景フォントサイズ*/
    text-transform: uppercase;
    content: 'sample';/*背景文字（★ご自由に変更ください）*/
    z-index: -1;
  }